{%  extends 'base.html.twig' %}

{%  block body %}
    <!-- Commentaire
    <h1>Bienvenue </h1>

    <p>Veuillez entrer les identitfiants nécessaire pour participier au poll</p>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Nom et prénom">
    </form>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Code pour la session">
    </form>

    <button type="button" class="btn btn-primary">Envoyer</button>

    <p>Si vous souhaitez créer un poll</p>

    <a href="/admin" class="btn btn-primary" role="button">Création de poll</a>
    -->


    <div id="boiteCode">
        <img id = "ruban" src="../image/smileyREPONCE.png"   width=auto height=100/>
        <form action="app_admin_index">
            <input type="text" id="codeParticipation" name="code" placeholder="Code de participation">
        </form>
        <form action="{{ path('app_user_getPoll/') }}"></form>
        <form action="/action_page.php">
            <input type="submit" value="PARTICIPER" >
        </form>
    </div>



{% endblock %}