{% extends 'base.html.twig' %}

{%  block body %}


    <div>
        {% for question in questions %}
            <p>{{ question.text }}</p>
            {% for answer in answers %}
                {% for ans in answer %}
                    {% if ans.question.id == question.id %}
                        {% for statistic in statistics %}
                            {% for stat in statistic %}
                                {% if ans.id == stat.answer_id %}
                                    <p>{{ ans.answer_text }} {{ stat.count }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}