{% extends 'base.html.twig' %}

{% block modal %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title orange-text" id="exampleModalLabel"><span class="material-icons">info</span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for message in messages %}
                                <p class="flash-{{ type }}">
                                    {{ message }}
                                </p>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-orange orange-text orange-border" data-dismiss="modal">Close <span class="material-icons">done</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                $(document).ready(function(){
                    $(".modal").modal('show');
                });
            </script>
        {% endfor %}
    {% endif %}
{% endblock %}

{%  block body %}

    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

{%  endblock %}