{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div id="col" class="col">
            <div class="jumbotron bg-light centered shadow-lg text-center w-100 rounded-0">
                <div class="smiley-reponce">
                    <img src="{{asset('image/smileyREPONCE.png')}}" alt="PointRéponse" style="width: 85px; height: auto;">
                </div>
                <h1 style="font-weight: bolder; line-height: 120px; font-size: 160px;">404</h1>
                <h2 class="h1 orange-text text-uppercase">Page not found</h2>
                <p>
                    The requested page couldn't be located.<br />
                    Checkout for any URL misspelling.
                </p>
                <p><a class="btn btn-orange-filled rounded-pill text-uppercase px-5" href="{{ url('app_user_index') }}"><span class="material-icons">home</span> return to the homepage</a></p>
            </div>
        </div>
    </div>
{% endblock %}