{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div id="col" class="col">
            <div class="jumbotron bg-light centered shadow-lg text-center">
                <div class="smiley-reponce">
                    <img src="{{asset('image/smileyREPONCE.png')}}" alt="PointRéponse" style="width: 85px; height: auto;">
                </div>
                <h5 class="orange-text">Poll is not currently running.</h5>
                <hr class="my-4">
                <p>Waiting for the administrator to start the poll...<p>
                <div class="spinner-grow orange-text" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>




 <script type="text/javascript">
const eventSource = new EventSource('http://localhost:3000/.well-known/mercure?topic=' + encodeURIComponent('{{listenerUrl}}'));
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));
	location.reload();
}
  </script>
{% endblock %}